#title {
    text-align: center;
}

#menu {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; /* Counteract to IE5/Win Hack */
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;        
}

#copyright {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
}

th {
    background: #DDDDDD;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}

td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}

tr.even {
    background: #3366FF;
}

tr.odd {
    background: #66CCFF;
}